@import "tailwindcss";

@theme {
  --color-bg: #f8f8f8;
  --color-text: #111827;
  --color-primary-red: #ff3f3f;
  --color-primary-amber: #f59e0b;
  --color-secondary-indigo: #6366f1;
  --color-secondary-blue: #3b82f6;
}

@theme inline {
  --primary: var(--color-primary-red);
}
